{% extends "base.html" %}

{% load staticfiles %}

{% block head %}

{% endblock %}

{% block content %}
<div class="panel-group">
                <div class="panel panel-primary">
                  <div class="panel-heading"><strong class="text-center">Question</strong></div>
                  <div class="panel-body">
                    <!--<div class="row">-->

                      <div class="col-md-2">
                        <div class="form-group user-info">
                          <img src="example.jpg" alt="Avatar" class="img-rounded" width="120" height="120">
                        </div>
                      </div>

                      <div class="col-md-1">
                        <div class="btn-group-vertical rating-field">
                          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-triangle-top"></span></a>
                            <p class="btn btn-default rating-value btn-sm">5</p>
                          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        </div>
                      </div>

                      <div class="col-md-8 question-text">
                          <h3 class="text-left">How to build a moon park?</h3>
                          <div>
                            <p> Guys how to build that? I need some money + guides about basics of building + some workers.
                              blablablablablablablabalbalablablablablablablaba
                            </p>
                            <p>Yeah</p>

                            <p>test</p>
                            <p>test</p>
                            <p>test</p>
                            <p>test</p>
                            <p>test</p>
                            <p>test</p>
                            <p>test</p>
                            <p>test</p>
                            <p>test</p>
                            <p>test</p>
                            <p>test</p>
                          </div>
                      </div>

                      <div class="col-md-12">
                        <div class="col-md-12"><p class="text-right"><strong>Tags:</strong> 
                            <a href="#"><span class="label label-success">Google</span></a>
                            <a href="#"><span class="label label-success">Track</span></a>
                            <a href="#"><span class="label label-success">Track</span></a>
                            <a href="#"><span class="label label-success">Track</span></a>
                            <a href="#"><span class="label label-success">Track</span></a>
                          </p>
                        </div>
                      </div>

                  </div>
                
                </div>

                <div class="panel panel-success" style="margin-top: 20px">
                  <div class="panel-heading"><strong>Best answer</strong></div>
                  <div class="panel-body">
                    <!--<div class="row">-->

                      <div class="col-md-2">
                        <div class="form-group user-info">
                          <img src="example.jpg" alt="Avatar" class="img-rounded" width="120" height="120">
                        </div>
                      </div>

                      <div class="col-md-1">
                        <div class="btn-group-vertical rating-field">
                          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-triangle-top"></span></a>
                            <p class="btn btn-default rating-value btn-sm">5</p>
                          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        </div>
                      </div>

                      <div class="col-md-8 question-text">
                          <h3 class="text-left">How to build a moon park?</h3>
                          <div>
                            <p> Guys how to build that? I need some money + guides about basics of building + some workers.
                              blablablablablablablabalbalablablablablablablaba
                            </p>
                            <p>Yeah</p>
                          </div>
                          <div class="checkbox">
                            <label><input type="checkbox">Correct</label>
                          </div>
                      </div>

                  </div>
                
                </div>

                <div class="panel panel-default" style="margin-top: 20px">
                  <div class="panel-body">
                    <!--<div class="row">-->

                      <div class="col-md-2">
                        <div class="form-group user-info">
                          <img src="example.jpg" alt="Avatar" class="img-rounded" width="120" height="120">
                        </div>
                      </div>

                      <div class="col-md-1">
                        <div class="btn-group-vertical rating-field">
                          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-triangle-top"></span></a>
                            <p class="btn btn-default rating-value btn-sm">5</p>
                          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        </div>
                      </div>

                      <div class="col-md-8 question-text">
                          <h3 class="text-left">How to build a moon park?</h3>
                          <div>
                            <p> Guys how to build that? I need some money + guides about basics of building + some workers.
                              blablablablablablablabalbalablablablablablablaba
                            </p>
                            <p>Yeah</p>
                          </div>
                          <div class="checkbox">
                            <label><input type="checkbox">Correct</label>
                          </div>
                      </div>

                      <div class="col-md-12">
                      </div>

                  </div> 
                </div>

                <div class="col-md-12">
                    <div class="form-group reply-form">
                      <label for="comment">Comment:</label>
                      <textarea class="form-control" rows="5" id="comment"></textarea>
                      <button type="text" class="btn btn-primary" style="margin-top: 10px">Answer</button>
                    </div>
                </div>

              </div>
{% endblock %}