{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">

              <div class="panel-heading">
                <div class="panel-title" style="right: 100px">Sign in</div>
                <div style="float:right; font-size: 90%; position: relative; top: -10px"><a href="#">Forgot password?</a></div>
              </div>

              <div class="panel-body">

                <form id="loginform" class="form-horizontal" role="form">

                  <div class="input-group">
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default" style="width: 92px">Email: </button>
                    </div>
                      <input type="email" class="form-control col-md-6" placeholder="Type your email here">
                  </div>

                  <div class="input-group" style="margin-top: 20px">
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default">Password: </button>
                    </div>
                      <input type="password" class="form-control col-md-6" placeholder="Type your password here">
                  </div>

                  <div class="input-group" style="margin-top: 20px">
                    <div class="checkbox">
                    <button type="submit" class="btn btn-success ">Login</button>
                    <label><input type="checkbox" value="">Remember me</label>
                    </div>
                  </div>

                </form>

              </div>

            </div>
</div>
{% endblock %}